<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Eric's attempt to scrape the internet</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<style>
  .bordered {
    border: 1px solid black;
  }
</style>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="container">
      <section class = row>
        <div class="col-md-12">
          <h2 class="col-md-12" class="heading">Latest Mars News</h2>
          <h3 class="col-md-12" >{{listings.news_title}}</h3>
          <h4 class="col-md-12">{{listings.news_title_p}}</h4>
        </div>
      </section>
      <section class = row>
        <div class="col-md-8">
          <h2 class="col-md-8" >Featured Mars Image</h2>
          <img class="col-md-12" src="{{listings.featured_image_url}}" alt="FeaturesImage">
        </div>
        <div class="col-md-4" >
          <p >
            <h2 class="bordered" >Current mars weather</h2>
            {{listings.mars_weather}}
          </p>   
          <p>
            <h3>Here are some fun facts about mars</h3>
            {{listings.html_table|safe}}
          </p>
        </div>
      </section>
    </div>
  </div>
    <br>
  <div class="conatiner" class="col-med-6">
    <h2 align="center" class="col-med-6">Mars Hemispheres</h2>
    <div class="col-xs-6">
      <img src="{{listings.hemisphere_image_urls.0.img_url}}" width="700" height="700">
      <h2>{{listings.hemisphere_image_urls.0.title}}</h2>
    </div>
    <div class="col-xs-6">
      <img src="{{listings.hemisphere_image_urls.1.img_url}}" width="700" height="700">
      <h2>{{listings.hemisphere_image_urls.1.title}}</h2>
    </div>
    <div class="col-xs-6">
      <img src="{{listings.hemisphere_image_urls.2.img_url}}" width="700" height="700">
      <h2>{{listings.hemisphere_image_urls.2.title}}</h2>
    </div>
    <div class="col-xs-6">
      <img src="{{listings.hemisphere_image_urls.3.img_url}}" width="700" height="700">
      <h2>{{listings.hemisphere_image_urls.3.title}}</h2>
    </div>
  </div>
  
</body>

</html>